<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SuperCard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A1FB2C11F4415A80041AC10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A1FB2DA1F4415A80041AC10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A1FB2E51F4415A80041AC10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
